Data type

In [ ]:
a = 10
b = 2.0
c = "string"
d = [1, 3, 4]
e = (1, 2)
f = {"name" : "dani", "age" : 18}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

print(type(f))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [ ]:
"""Konversi tipe data"""
num = 20
print(type(num))
str_num = str(num)
print(type(str_num))

str_1 = "30"
num_1 = int(str_1)
print(type(num_1))

<class 'int'>
<class 'str'>
<class 'int'>

In [ ]:
str_2 = "a"
num_2 = int(str_2)
print(type(num_2))

ValueError: ignored

Basic Operation in python

In [ ]:
a = 5
b = 3

print(a + b)  # penjumlahan
print(a - b)  # pengurangan
print(a * b)  # perkalian
print(a / b)  # pembagian
print(a ** b) # perpangkatan
print(a // b) # pembagian dengan pembulatan kebawah
print(a % b)  # modulo

8
2
15
1.6666666666666667
125
1
2

 Basic String

In [ ]:
"""Intro to String"""
a = "Hello"
b = "World"

print(a + b)        # Menggabungkan 2 string
print(a + " " + b)  # Menggabungkan 3 string
print(a[2])         # Huruf ke-3
print(a[:2])        # Sampai huruf ke-2 
print(a[2:])        # Huruf ke-3 dan seterusnya
print(a[1:3])       # huruf ke-2 sampai ke-3

HelloWorld
Hello World
l
He
llo
el

In [ ]:
"""String Attribute"""
sentence = "Ini Merupakan Kalimat Dengan Beberapa Kata"

print(sentence.lower())
print(sentence.upper())
print(sentence.capitalize())
print(sentence.count("a"))
print(sentence.count("at"))
print(sentence.split(" "))
print(sentence.split("a"))

ini merupakan kalimat dengan beberapa kata
INI MERUPAKAN KALIMAT DENGAN BEBERAPA KATA
Ini merupakan kalimat dengan beberapa kata
9
2
['Ini', 'Merupakan', 'Kalimat', 'Dengan', 'Beberapa', 'Kata']
['Ini Merup', 'k', 'n K', 'lim', 't Deng', 'n Beber', 'p', ' K', 't', '']

In [ ]:
"""Formating"""

name = "Dani"
weight = 50
print("{} memiliki berat badan {} kg".format(name, weight)) # cara baru
print("%s memiliki berat badan %d kg" % (name, weight)) # cara lama

Dani memiliki berat badan 50 kg
Dani memiliki berat badan 50 kg

List, Tuple, Dictionary

In [ ]:
"""Introduction"""
List = [1, 2, 3, 2, 3, 4, 5]                    # mutable
Tuple = (1, 2, 4)                               # immutable
Dictionary = {"name" : "Dani", 
              "weight" : 50,
              "age" : 18
              }   # mutable

print(List[1])
print(Tuple[2])
print(Dictionary["name"])

2
4
Dani

In [ ]:
"""Immutable means"""
Tuple[2] = 3
print(Tuple)

TypeError: ignored

In [ ]:
"""Configure List"""

list_number = [1,4,3,5,7]
list_name = ["Dani", "Arul", "Gesang"]

print(sorted(list_number))      # Mengurutkan list berdasarkan angka
print(sorted(list_name))        # Mengurutkan list berdasarkan abjad
print(list_number[1:3])         # List ke-1 sampai 3
print(list_number[:-1])         # List ke-1 dari belakang

[1, 3, 4, 5, 7]
['Arul', 'Dani', 'Gesang']
[4, 3]
[1, 4, 3, 5]

In [ ]:
"""Append List"""

list_number = [1,2,5,7,4]
list_number.append(100)
print(list_number)
list_number.insert(1, 10)
print(list_number)
list_number.pop(0)
print(list_number)

[1, 2, 5, 7, 4, 100]
[1, 10, 2, 5, 7, 4, 100]
[10, 2, 5, 7, 4, 100]

Conditional (If, else, elif)

In [ ]:
"""Example"""

a = 2
b = 3

if a > b:
  print("{} lebih besar daripada {}".format(a,b))
else:
  print("{} lebih kecil daripada {}".format(a,b))

2 lebih kecil daripada 3

In [ ]:
"""More Example"""

score = 59

if score > 80:
  print("Nilai A")
elif score <= 80 and score > 70:
  print("Nilai B")
elif score <= 70 and score > 60:
  print("Nilai C")
else:
  print("Nilai D")

Nilai D

In [ ]:
"""One Line conditional example"""

fruit = "apple"

# (perintah jika benar) if (statement) else (perintah jika salah)
print("yes") if fruit == "apple" else print("no")

# [(nilai jika salah), (nilai jika benar)][statement]
print(["no","yes"][fruit == "apple"])

yes
yes

Loops

In [ ]:
"""While loops"""

i = 0
while i <= 5:
  print(i)
  i = i + 1 # i += 1

0
1
2
3
4
5

In [ ]:
"""For loops"""

# range(5) = [0,1,2,3,4]
list_a = [1,5,7,4,7,4,2,6]
for i in list_a:
  print(i)

1
5
7
4
7
4
2
6

In [ ]:
"""More For loops"""

number_list = [1,3,5,6]
name_list = ["Dani", "Arul", "Gesang", "Zibran"]

print("Cetak elemen-elemen pada number_list")
for number in number_list:
  print(number)
print()

print("Cetak elemen-elemen pada name_list")
for i in name_list:
  print(i)
print()

print("Cetak gabungan dari kedua list")
for name, number in zip(name_list, number_list):
  print("{} mendapatkan angka {}".format(name, number))
print()

print("Cetak elemen-elemen pada name_list dan index dari name_list")
for i, name in enumerate(name_list):
  print("{}.) {}".format(i+1, name))
print()

Cetak elemen-elemen pada number_list
1
3
5
6

Cetak elemen-elemen pada name_list
Dani
Arul
Gesang
Zibran

Cetak gabungan dari kedua list
Dani mendapatkan angka 1
Arul mendapatkan angka 3
Gesang mendapatkan angka 5
Zibran mendapatkan angka 6

Cetak elemen-elemen pada name_list dan index dari name_list
1.) Dani
2.) Arul
3.) Gesang
4.) Zibran

Function

In [ ]:
"""Without return value"""

def fun(name, height):
  print("{} memiliki tinggi {} cm".format(name, height))

fun("Dani", 166)
print(fun("Arul", 164))

Dani memiliki tinggi 166 cm
Arul memiliki tinggi 164 cm
None

In [ ]:
"""With return value"""

def factorial(n):
  result = 1
  for i in range(1, n+1):
    result *= i
  return result

print(factorial(3))
print(factorial(0))
print(factorial(6))
print(factorial(20))

6
1
720
2432902008176640000

Class

In [ ]:
"""Very simple class"""

class Name:
  pass

name = Name()

In [ ]:
"""Attribute"""
class Name:
  first_name = "Rafi"
  last_name = "Achmad"

name = Name()
print(name.first_name)
print(name.last_name)

Rafi
Achmad